.main {
  position: relative;

  width: 500px;
  min-height: 500px;
}

.main__field {
  display: grid;
  grid-template-columns: 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px;
  column-gap: 5px;
  row-gap: 3px;
}

.main__field-item {
  width: 45px;
  height: 45px;

  border: 1px solid lightgrey;
}

.main__field-item--tetramino {
  background-color: green;
}

.main__field-item--bottom {
  width: 0;
  height: 0;
  border: none;
}

.main__field-item--tetramino-ff1d58 {
  background-color: #ff1d58;
}

.main__field-item--tetramino-0049B7 {
  background-color: #0049b7;
}

.main__field-item--tetramino-fff685 {
  background-color: #fff685;
}

.main__field-item--tetramino-8458B3 {
  background-color: #8458b3;
}

.main__field-item--tetramino-f37736 {
  background-color: #f37736;
}
