.main {
  width: 500px;
  min-height: 500px;
}

.main__field {
  display: grid;
  grid-template-columns: 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px;
  column-gap: 5px;
  row-gap: 3px;
}

.main__field-item {
  width: 45px;
  height: 45px;

  border: 1px solid lightgrey;
}

.main__field-item--tetramino {
  background-color: green;
}

.main__field-item--bottom {
  width: 0;
  height: 0;
  border: none;
}

.main__field-item--tetramino-FF00CC {
  background-color: #fe4a49;
}

.main__field-item--tetramino-2ab7ca {
  background-color: #2ab7ca;
}

.main__field-item--tetramino-fed766 {
  background-color: #fed766;
}

.main__field-item--tetramino-2243B6 {
  background-color: #6497b1;
}

.main__field-item--tetramino-e6e6ea {
  background-color: #e6e6ea;
}
